*{
    font-family: 'Merriweather', serif;
    }
.container{
    display: flex;
    height: 370px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80vw;
}
body{
    background-color: whitesmoke;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: wheat;  
}
input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}
.form h3{
    text-align: center;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 3px;
    outline: none;
}
#submit{
    padding: 12px 12px;
    width: 40%;
    margin-top: 6px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit a{
    color: white;
}
#submit:hover{
    cursor: pointer;
    background-color: salmon;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 8px;
}
.form a:hover{
    color: salmon;
}
/*Right side*/
.right-side{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.right-side img{
    width: 130%;
    height: 370px;
}