*{
font-family: 'Merriweather', serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;  
    width: 75%;
    
}
.form h2{
    font-size: 3rem;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    outline: none;
    border-radius: 20px;
}
#submit, .btn-btn-primary{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: red;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color: salmon;
}